iframe {
    width:1000px;
    height:1000px;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
    -ms-transform: scale(2.0);
    -ms-transform-origin: 0 0;
    -moz-transform: scale(2.0);
    -moz-transform-origin: 0 0;
    -webkit-transform: scale(2.0);
    -webkit-transform-origin: 0 0;
    transform: scale(2.0);
    transform-origin: 0 0;
}

.trimming {
    position:absolute;
    clip: rect(480px 1220px 1040px 400px);
    top: -480px;
    left: -400px;
 }
