img {
    /* 静止画のサイズ */
    height:225px;
    width:400px;
}
object {
    /* オブジェクトのサイズ */
    height:225px;
    width:400px;
}

.rotate {
    transform: rotate(-90deg);
    /* レイアウトサイズ（素材のサイズと反対にする） */
    height:400px;
    width:225px;
}

.box {
    float:left;
}

.box#first{
    /* ダミー要素を隠すために必要 */
    width:87px;
}

/* 順番整列させるための記述 */
.boxContainer {
	overflow: hidden;
}

/* clearfix */
.boxContainer:before,
.boxContainer:after {
    content: "";
    display: table-cell;    
}

.boxContainer:after {
    clear: both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.boxContainer {
    zoom: 1;
}
